[submodule "hide-seek-client"]
	path = hide-seek-client
	url = https://github.com/YarikRevich/hide-seek-client.git
[submodule "hide-seek-server"]
	path = hide-seek-server
	url = https://github.com/YarikRevich/hide-seek-server.git
